{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}

<h2>Welcome to Login</h2>

<form action="/login" method="POST">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="username">Trainer</label>
    <input type="text" name="username"  required>

    <label for="password">Password</label>
    <input type="password" name="password"  required>


    <button type="submit" name="send">SignUp</button>
</form>

<a href="{{ url_for('auth_bp.signup') }}">Do you have an account !! <strong>Create one</strong></a>


{% endblock %}