{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}

<h3>Welcome to this Sign Up View</h3>

<form action="/signup" method="POST">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="username">Trainer</label>
    <input type="text" name="username"  required>

    <label for="password">Password</label>
    <input type="password" name="password"  required>


    <button type="submit" name="send">SignUp</button>
</form>


{% endblock %}